body {
    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 175px;
    background-color: #6b51a7;
}

.name {
    color: black;
    position: absolute;
    top: 5%;
    font-weight: 400;
    margin-left: 10%;
}

li {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

input {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;

}



button{
    margin: auto;
    width: 50px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
}

#ToDoList {
    padding: 10px;
}
#text{
    padding: 20px;
}
#newTodoInput{
    padding: 15px 20px;
    font-size: large;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #f00; 
    color: #fff; 
    border: none; 
    padding: 8px 12px; 
    padding-left: 12px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
  }
  
  .delete-btn:hover {
    background-color: #d00; 
    transform: scale(1.1); 
  }
  