body {
    margin: 0;
    font-family: "Segoe UI";
}



.main {
    display: flex;
    flex-direction: column;
}

.head1 {
    width: 100%;
}

.head {
    display: flex;
    width: 100%;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 108px;
    height: 25px;
    padding: 15px 5px 15px 10px;
    margin-right: 3px;
}

.header {
    order: 1;
    height: 54px;
    display: flex;
    color: rgb(38, 38, 38);
    font-family: inherit;
}

.header button {
    font-weight: 400;
    font-size: 13px;
    font-family: inherit;
    appearance: none;
    background-color: inherit;
    border: none;
}

.products{
    width: 135px;
    height: 20px;
    padding: 0;

}

.img1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.img1 img {
    display: flex;
    align-items: center;
    width: 1680px;
    height: 525px;
    flex-shrink: 1;
}

.b {
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Segoe UI";
    width: 1512px;
}

.first-row {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 1512px;
    margin: 96px 0;
}

.first-row img {
    height: 202px;
    width: 360px;
}

.life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 120px;
    font-family: inherit;
    width: 534px;
    height: 56px;
    position: absolute;
    color: white;
}

.life a {
    width: 220px;
    text-align: center;
    background-color: rgb(0, 103, 184);
    border-radius: 2px;
    text-decoration: none;
    padding: 10px 12px;
    border: 2px none;
    color: white;
}

.life a:hover {
    background-color: rgb(1, 82, 145);
}

.ms365 p, .onedrive p, .onenote p, .edge p{
    width: 360px;
}

.ms365 a, .onedrive a, .onenote a, .edge a{
    text-decoration: none;
    margin-right: 20px;
    color: blue;
}

.second-row {
    display: flex;
    justify-content: center;
}

.img2 {
    width: 1512px;
    height: 568px;
}

.header a {
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    margin: 16px 8px 0px 16px;

}

.header a:hover {
    border-bottom: 2px black solid;
}